<!DOCTYPE html lang="en">

<body>

    <title>Search Page</title>

    <div class="content">

        <h1 style="text-align: center">Search</h1>

        <div class="form">

             <form action="/Weatherapp" method="POST">

                <label for="city">enter city: <label>
                <input type="text" name="city" id="city">
                <label for="units">enter units: <label>
                <input type="text" name="units" id="units">
                <input type="text" name="appid" id="appid">
                <label for="appid">enter appid: <label>
                <input type="submit" value="search">

            </form>

        </div>

    </div>

</body>

</html>